.title {
  margin: 25px 30px;
  .title-simple {
    color: #333333;
    font-weight: 500;
  }
  .title-simples {
    color: #ffff;
    font-weight: 500;
  }
  .title-simple-main {
    color: #333333;
    font-weight: 500;
    color: #fff;
    margin-top: 50px;
  }
}
