<div class="portal-news-header">
  <div class="navbar-grid-double">
    <div class="navbar-primary">
      <div class="logos">
        <div class="test">
          <app-logo-g1 [logo]="'globo.com'" id="globo"></app-logo-g1>
        </div>
        <div class="test">
          <app-logo-g1 [logo]="'g1'" id="g1"></app-logo-g1>
        </div>
        <div class="test">
          <app-logo-g1 [logo]="'ge'" id="ge"></app-logo-g1>
        </div>
        <div class="test">
          <app-logo-g1 [logo]="'gshow'" id="gshow"></app-logo-g1>
        </div>
        <div class="test">
          <app-logo-g1 [logo]="'vídeos'" id="vídeos"></app-logo-g1>
        </div>
        <div class="test">
          <app-logo-g1 [logo]="'o globo'" id="globo-junior"></app-logo-g1>
        </div>
      </div>
      <div class="logo-test"></div>
      <div class="profile-description">
        <div class="register">
          <app-profiles
            [nameprofile]="'assine-ja'"
            id="register"
          ></app-profiles>
        </div>
        <div class="email">
          <app-profiles [nameprofile]="'e-mail'" id="email"></app-profiles>
        </div>
        <div class="login">
          <div class="profile-icon"><p class="text">A</p></div>
          <app-profiles [nameprofile]="'Allify Gabriel'" id="login">
          </app-profiles>
        </div>
      </div>
    </div>
    <div class="navbar-secondary">
      <div class="secondary-grids">
        <div class="menu-click">
          <svg
            (click)="openMenu()"
            style="cursor: pointer"
            id="menu-icon"
            xmlns="http://www.w3.org/2000/svg"
            width="30"
            height="30"
            fill="currentColor"
            class="bi bi-list"
            viewBox="0 0 16 16"
          >
            <path
              fill-rule="evenodd"
              d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"
            />
          </svg>
          <h5 style="cursor: pointer" class="menu-text">
            {{ menu }}
          </h5>
        </div>
        <div class="logo-G1">
          <h1 class="text-center" [routerLink]="['']" style="cursor: pointer">
            {{ logo }}
          </h1>
        </div>

        <div class="serch">
          <div class="serch-button">
            <input
              type="text"
              #input
              placeholder="Buscar"
              (keyup)="search(input.value)"
              id="button-input"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
