.portal-news-header {
  height: 100%;
  width: 100%;
  z-index: 999;
  background: #f9f9f9;

  .navbar-grid-double {
    display: grid;
    grid-template-columns: 1fr;
    position: fixed;
    top: 0;
    background: #f9f9f9;

    .navbar-primary {
      height: 42px;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      background: #f3f3f3;
      .logos {
        width: 500px;
        margin: 10px 5px;
        .test {
          display: inline-flex;
          #globo {
            color: #0669de;
            &:hover {
              opacity: 0.75;
            }
          }
          #g1 {
            color: #a80000;
          }
          #ge {
            color: #06aa48;
          }
          #gshow {
            color: #ff6700;
          }
          #vídeos {
            color: #005cef;
          }
          #globo-junior {
            color: #1e4c9a;
          }
        }
      }
      .profile-description {
        margin: 10px 5px;
        display: grid;
        grid-template-columns: 1fr 120px 140px;
        .register {
          #register {
            float: right;
          }
        }
        .email {
          .test {
            margin-left: 100px;
          }
          #email {
            float: right;
            margin-right: 40px;
          }
        }
        .login {
          display: grid;
          grid-template-columns: 20px 2fr;
          float: right;
          #login {
            margin-left: 7px;
          }
          .profile-icon {
            background: #ef6c00;
            text-align: center;
            font-size: 14px;
            border-radius: 2px;
            .text {
              margin-top: 2px;
              color: #fff;
            }
          }
        }
      }
    }
    .navbar-secondary {
      background: #c4170c;
      height: 70px;
      .secondary-grids {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        margin: 20px 15px;
        .menu-click {
          #menu-icon {
            color: #fff;
          }
          .menu-text {
            float: right;
            margin-right: 365px;
            margin-top: 7px;
            font-size: 14px;
            text-transform: uppercase;
            color: #fff;
            letter-spacing: 0.75px;
            font-weight: 500;
          }
        }
        .logo-G1 {
          text-align: center;
          .text-center {
            margin-top: -20px;
            font-weight: 500;
            font-size: 45px;
            color: #fff;
          }
        }
        .serch {
          .serch-button {
            float: right;
            margin: 0px 5px;
            #button-input {
              height: 32px;
              width: 150px;
              transition: 0.5s;
              border-radius: 5px;
              outline: none;
              border: none;
              background: #a7140a;
              text-transform: uppercase;
              color: #fff;
              font-size: 14px;
              text-transform: uppercase;
              padding-left: 10px;
              &:focus {
                width: 250px;
                transition: 0.75s;
                background: #fff;
                color: #000;
                &::placeholder {
                  color: #000;
                  font-size: 14px;
                  text-transform: uppercase;
                  padding-left: 2px;
                }
              }
              &::placeholder {
                color: #ffff;
                font-size: 14px;
                text-transform: uppercase;
                padding-left: 2px;
                &:visited {
                  color: #000;
                }
              }
            }
          }
        }
      }
    }
  }
}
