<app-navbarg1
  [menu]="'Menu'"
  [logo]="'g1'"
  (emmitSearch)="getSearch($event)"
  (onOpen)="onSidbarOpen($event)"
></app-navbarg1>
<app-menu-click [open]="isSidbarOpen"> </app-menu-click>
<div
  class="menu-overflow"
  (click)="onSidbarOpen(false)"
  [ngClass]="{ 'menu-overflow-active': isSidbarOpen }"
></div>

<div id="main">
  <div class="main_container">
    <div id="main-news">
      <div>
        <div class="grid-news-top">
          <div class="news-header">
            <app-title-simple [titleSimple]="'Novas regras'">
            </app-title-simple>
            <div class="topNews">
              <h1 class="news-title">
                Fiscalizar quarentena de não vacinados e praticamente imposivel,
                diz conselho de secretarios
              </h1>
              <h5 class="news-subtitle">
                Projeto prorroga medida para 17 setoresque mais empregam na
                economia. Texto vai á sanção<ng-container co></ng-container>
              </h5>
            </div>
          </div>
          <div class="news-header-double">
            <div class="header-primary">
              <div class="primary-text">
                <app-title-simple id="text" [titleSimplesMain]="'Novas regras'">
                </app-title-simple>
              </div>
              <div class="test"></div>
              <div class="test2">
                <app-title-simple
                  [titleSimpleMain]="
                    'Carreta tomba e deixa mais de 50 imigrantes mortos em mexico'
                  "
                ></app-title-simple>
              </div>
            </div>
            <div class="header-secondary">
              <div class="primary-text">
                <app-title-simple id="text" [titleSimplesMain]="'Influeza'">
                </app-title-simple>
              </div>
              <div class="test"></div>
              <div class="test2">
                <app-title-simple
                  [titleSimpleMain]="
                    'Oque esta pro tras de epidemia de gripe no Rio'
                  "
                ></app-title-simple>
              </div>
            </div>
          </div>
        </div>
        <div class="grid-news-information">
          <div class="right-news">
            <div class="content-news">
              <app-items-list-news [news]="news"></app-items-list-news>
            </div>
          </div>
          <div class="left-news" *ngIf="apiAll.length > 0">
            <div class="look-here">
              <app-grids-look-here
                [titleHere]="'Noticias em altas'"
                [arrayNews]="apiAll"
              ></app-grids-look-here>
              <app-grids-look-here
                id="text"
                [titleHere]="'Viu isso aqui?'"
                [arrayNews]="apiAll"
              ></app-grids-look-here>
            </div>
            <div class="look-here">
              <app-grids-look-here
                [titleHere]="'Top news'"
                [arrayNews]="apiAll"
              ></app-grids-look-here>
              <app-grids-look-here
                id="text"
                [titleHere]="'G1 explica'"
                [arrayNews]="apiAll"
              ></app-grids-look-here>
            </div>
            <div class="look-here">
              <app-grids-look-here
                [titleHere]="'Noticias Antigas'"
                [arrayNews]="apiAll"
              ></app-grids-look-here>
              <app-grids-look-here
                id="text"
                [titleHere]="'G1 Na hora'"
                [arrayNews]="apiAll"
              ></app-grids-look-here>
            </div>
            <div class="blog">
              <app-grids-look-here
                [titleHere]="'Noticias de pouco tempo'"
                [arrayNews]="apiAll"
              ></app-grids-look-here>
            </div>
            <div class="look-here">
              <app-grids-look-here
                id="text"
                [arrayNews]="apiAll"
                [titleHere]="'Ouça no G1'"
              ></app-grids-look-here>
            </div>

            <div class="look-here">
              <app-grids-look-here
                id="text"
                [titleHere]="'Compras de fim de ano'"
                [arrayNews]="apiAll"
              ></app-grids-look-here>
            </div>
            <div class="how-to-make">
              <app-grids-look-here
                [titleHere]="'Especial do G1'"
                [arrayNews]="apiAll"
              ></app-grids-look-here>
            </div>
            <div class="look-here">
              <app-grids-look-here
                id="text"
                [titleHere]="'G1 Para Pessoa com Deficiência '"
                [arrayNews]="apiAll"
              ></app-grids-look-here>
            </div>
            <div class="look-here">
              <app-grids-look-here
                id="text"
                [titleHere]="'AoutoEsporte'"
                [arrayNews]="apiAll"
              ></app-grids-look-here>
            </div>
            <div class="look-here">
              <app-grids-look-here
                id="text"
                [titleHere]="'Pouca Horas Atras'"
                [arrayNews]="apiAll"
              ></app-grids-look-here>
            </div>

            <div class="grid-podcast">
              <app-grids-look-here
                [titleHere]="'Fake ou falso'"
                [arrayNews]="apiAll"
              ></app-grids-look-here>
            </div>
            <div class="look-here">
              <app-grids-look-here
                id="text"
                [titleHere]="'Destaque do Dia'"
                [arrayNews]="apiAll"
              ></app-grids-look-here>
            </div>
            <div class="look-here">
              <app-grids-look-here
                id="text"
                [titleHere]="'Falando sobre o G1'"
                [arrayNews]="apiAll"
              ></app-grids-look-here>
            </div>
            <div class="look-here">
              <app-grids-look-here
                id="text"
                [titleHere]="'AoutoEsporte Explica'"
                [arrayNews]="apiAll"
              ></app-grids-look-here>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
