.details-news-title {
  margin: 40px 100px;
  .detaisl-title {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    letter-spacing: 0.4px;
    line-height: 30px;
    color: #333;
  }
  .details-list-item {
    margin: 40px 20px;
    li {
      margin-top: 40px;
      font-family: "Montserrat", sans-serif;
      font-weight: 500;
      letter-spacing: 0.4px;
      line-height: 30px;
      color: #333;
    }
  }
  .details-image {
    text-align: center;
    #image {
      width: 100%;
    }
  }
}
