.podCast-dad {
  margin-top: 35px;
  border: 1px solid #e6e6e6;
  background: #fff;
  .podCast {
    margin: 25px 15px;
    .podCast-name {
      margin-left: 45px;
      margin-top: 10px;
      color: rgb(90, 88, 88);
      font-size: 16px;
    }
    .podCast-grids {
      margin: 25px 35px;
      display: grid;
      grid-template-columns: 1fr 1fr;
      background: #fff;

      height: 100px;
      .podCast-grid-one {
        #one-image {
          width: 150px;
          margin-left: 10px;
        }
      }
      .podCast-grid-two {
        #tow-image {
          width: 150px;
          margin-left: 10px;
        }
      }
    }
  }
}
